# Gradle
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# Signing
*.jks

# Local configuration
local.properties

# IDE
.idea/
*.iml

# Log
*.log

# Android Studio
captures/
.cxx/

# Others
.DS_Store
